<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VVT Project Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ProjectManager/style.css') }}">
</head>
<body>
    <div class="project-manager">
    <img src="{{ url_for('static', filename='Index/vvtEng.png') }}" alt="VVT Engineering Logo" width="124" height="121">
        <h1>VVT Project Manager</h1>
        <div class="task-list">
            {% for task in tasks[1:] %}
            <div class="task">
                <h2>{{ task[0] }}</h2>
                <p>Due date: {{ task[1] }}</p>
            </div>
            {% endfor %}

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-success">
            {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}

        </div>
        <form class="add-task-form" action="{{ url_for('add_task') }}" method="post">
            <input type="text" name="task-name" placeholder="Task name" required>
            <input type="date" name="due-date" required>
            <button type="submit">Add Task</button>
        </form>

        <form class="delete-task-form" action="{{ url_for('delete_task') }}" method="post">
            <select name="task-name">
              {% for task in tasks %}
              <option value="{{ task[0] }}">{{ task[0] }}</option>
              {% endfor %}
            </select>
            <button type="submit">Delete Task</button>
          </form>
    </div>
</body>
</html>
