<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='UserDashboard/style.css') }}">
    <title>{% block title %}VVT Engineering{% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>

<body>
    <nav>
        <div class="logo-tagline">
            <div class="nav-logo">
                <a href="{{ url_for('views.home') }}">
                    <img src="{{ url_for('static', filename='assets/vvtEng.png') }}" alt="VVT Engineering Logo">
                </a>
            </div>
            <div class="nav-tagline">
                <h4>VVT Engineering</h4>
            </div>
        </div>
        <ul class="nav-links">
            <li class="link"><a href="https://vvteng.com.au/">Home</a></li>
            <li class="link"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            <li class="link"><a href="{{ url_for('views.notes') }}">My Notes</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}
        <!-- content will be inserted here by child templates -->
        {% endblock %}
    </main>

    <div class="copyright">
        2024. Made with ♥ by Yash Batish
    </div>

    {% block scripts %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% endblock %}
</body>

</html>
