<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='UserProfile/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .confirm-delete {
            background-color: #a70b0b;
            color: white;
        }
        .cancel-delete {
            background-color: green;
            color: white;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <a href="{{ url_for('views.home') }}">
            <img src="{{ url_for('static', filename='assets/vvtEng.png') }}" alt="VVT Engineering Logo" width="124" height="121">
        </a>
        <div class="profile-container">
            <h1>Are you sure you want to delete <span class="nowrap">{{ user.username }}</span>?</h1>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="user-details">
                <p><strong>Username:</strong> {{ user.username }}</p>
                <p><strong>User Type:</strong> {{ user.usertype }}</p>
            </div>

            <form id="delete-user-form" action="{{ url_for('auth.deleteUser', user_id=user.id) }}" method="post">
                <button type="submit" class="confirm-delete">Delete</button>
            </form>

            <form id="goes-back" action="{{ url_for('auth.userProfile', user_id=user.id) }}" method="get">
                <button type="submit" class="cancel-delete">Actually, take me back</button>
            </form>
        </div>
    </div>
</body>
</html>