<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='UserProfile/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <a href="{{ url_for('views.home') }}">
            <img src="{{ url_for('static', filename='assets/vvtEng.png') }}" alt="VVT Engineering Logo" width="124" height="121">
        </a>
        <div class="profile-container">
            <h1>What would you like to do with {{ user.username }}?</h1>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="user-details">
                <p><strong>Username:</strong> {{ user.username }}</p>
                <p><strong>User Type:</strong> {{ user.usertype }}</p>
            </div>

            <form action="{{ url_for('auth.changePassword', user_id=user.id) }}" method="post">
                <button type="submit" class="btn1">Change Password</button>
            </form>

            <form action="{{ url_for('auth.deleteUser', user_id=user.id) }}" method="post">
                <button type="submit" class="btn2">Delete User</button>
            </form>
        </div>
    </div>
</body>
</html>